body { 
    background-color: rgb(134, 123, 102);
    text-align: center;
}

h1 {
    font-size: 30px;
    text-align: center;
}

p {
    text-align: center;
    color:pink
    font-size: 20px;
}

.texto1{
    color: pink
}
